<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>

  </connectionStrings>
  <appSettings>
    <add key="Browser"  value="Chrome" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SiteUrl" value="demo1.epiqodyssey.com"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>    
    <add key="Email" value="abbyclaimant@gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Password" value="epiqabby!" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>