<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
  </connectionStrings>
  <appSettings>  
    <add key="SiteUrl" value="https://tmx.epiqodyssey.com"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Email" value="pmoore@freshconsulting.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Password" value="requiem" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AuthenticateUserName" value="limine" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AuthenticatePassword" value="odyssey" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation debug="true"></compilation>
  </system.web>
</configuration>