<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>

  </connectionStrings>
  <appSettings>
    <add key="Browser"  value="chrome" xdt:Transform="Replace" xdt:Locator="Match(key)"/>    
    <add key="SiteUrl" value="https://dev.epiqodyssey.com"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>    
    <add key="Email" value="pradeep.chinthala@aeriestechnology.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Password" value="Pradeep@123" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AuthenticateUserName" value="limine" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AuthenticatePassword" value="odyssey" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MatterName" value="Matter for US#246154" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>